/* font facing */

@font-face {
  font-family: gilroy;
  src: url(fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: gilroy-light;
  src: url(fonts/gilroy/Gilroy-Light.ttf);
}

@font-face {
  font-family: protest-strike;
  src: url(fonts/Protest_Strike/OFL.txt);
}

@font-face {
  font-family: wedding;
  src: url(fonts/dancing_moon_script/dancing\ moon\ script.otf);
}

*,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  /* font-family: gilroy; */
}

/* Navigation bar */

#navBar {
  background-color: #000;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 50px; */
  position: fixed;
  font-family: gilroy;

}

#heroPage {
  height: 80vh;
  width: 100vw;
  padding-top: 20vh;
  font-family: gilroy;

}

#navTabs {
  display: flex;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  width: 42vw;
}

#navTabs a {
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
}

.textNavTabs {
  color: #fff;
  border-radius: 50px;
  transition: all 0.4s ease;
}

.textNavTabs:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #000;
}

#navLogo {
  color: #fff;
  margin-left: 5%;
  font-size: 30px;
  font-family: wedding;
}

/* Hero page */

#heroPage {
  display: flex;
  background-color: #000;
  flex-direction: row;
}

#heroTitle {
  width: 40vw;
  height: 60vh;
  padding: 4vw;
  font-size: 80px;
}

.heroTxt-1 {
  font-family: gilroy-light;
}

.heroTxt-2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: protest-strike;
}

.heroTxt-3 {
  font-size: 20px;
  padding-top: 23px;
}

#heroImage {
  padding: 1vh 4vw;
  transition: all 0.4s ease;
}

#heroImage:hover {
  padding-top: 0px;
}

#product-section-home {
  padding: 4vh 10vw;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 15px;
  height: auto;
  grid-auto-flow: row dense;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

#heroTitle img {
  transition: all 0.4s ease;
}

#heroTitle img:hover {
  padding-bottom: 5px;
}

/* Second page */

#product-section-home > div {
  height: 600px;
  width: 100%;
  transition: all 0.4s ease;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
}

#product-section-home > div:hover {
  border: 2px solid black;
}

#product-section-home div p {
  color: #000;
}
#product-section-home div span {
  color: #7e7e7e;
}

/* #product-section-home div {
  width: 200px;
  height: 50px;
} */

.priceTag {
  color: black;
}

.productDetails {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 390px;
  padding-left: 10px;
}

@media screen and (max-width: 1250px) {
  #product-section-home {
    grid-template-columns: 400px 400px;
  }
}
  @media screen and (max-width: 850px) {
  #product-section-home {
    grid-template-columns: 400px;
  
  }
}